[submodule "part3/fullstack-open-part3"]
	path = part3/fullstack-open-part3
	url = https://github.com/ny-andry/fullstack-open-part3.git
[submodule "part4/fullstack-open-part4"]
	path = part4/fullstack-open-part4
	url = https://github.com/ny-andry/fullstack-open-part4
